@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: auto;
  outline-color: red;
} */

body {
  @apply bg-neutral text-text font-body;
}

#root {
  @apply flex flex-col min-h-screen;
}

main {
  @apply grow mt-5 mb-12 lg:mt-12 lg:mb-24 mx-auto;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-heading font-bold text-primary;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

.custom-carousel div {
  @apply rounded-none;
}

.custom-carousel button {
  @apply bg-primary bg-opacity-50  hover:bg-opacity-100 rounded-full;
}

@media (min-width: 768px) {
  .custom-carousel div {
    @apply rounded;
  }
}

.rc-slider-rail {
  @apply bg-secondary;
}

.rc-slider-track {
  @apply bg-primary;
}

.rc-slider-handle {
  @apply bg-primary border-primary opacity-100;
  box-shadow: none !important;
}

.rc-slider-handle:hover {
  @apply bg-primary-light border-primary-light;
}

.rc-slider-handle:active {
  @apply bg-primary-light border-primary-light;
}

#breadcrumbs ol {
  @apply flex-wrap;
}
